.article-main-content {
  display: flex;
}

.title-text {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.04em;
  margin-bottom: 0px;
  margin-top: 8px;
}

.preview-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 22px;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  margin-top: 10px;
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.article-preview-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 14px;
}
