<div class="center">
  <div class="articles-content">
    <lib-ca-card title="Title" previewText="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga voluptates sint architecto vitae similique deleniti molestias provident quisquam minus nihil modi repellendus explicabo enim eum, odit a quod! Magnam, soluta.">
      <img
      image
      class="image"
      src="../../../assets/JavaScriptListImage.png"
      alt="JS Image"
      />
    </lib-ca-card>
    <lib-ca-card title="Title" previewText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur at iusto inventore, ea illum et expedita, labore incidunt repellat nisi beatae! Voluptates architecto deserunt necessitatibus alias atque error vero.">
      <img
        image
        class="image"
        src="../../../assets/css-logo.png"
        alt="JS Image"
      />
    </lib-ca-card>
  </div>
</div>
